<%# TODO: [jneen] move this to a controller %>
<% @lexer = Rouge::Lexer.all.sample %>
<% @demo = Paste.demo_for(@lexer) %>

<section class="demo">
  <%= simple_form_for(:parse, url: parses_path, remote: true) do |form| %>
    <%= form.label :source, 'Try some code' %>
    <div class="source">
      <textarea id="parse_source" name="parse[source]"><%= @demo.source %></textarea>
      <%= form.select :language, lexer_options_for_select, { selected: @demo.language } %>
    </div>
    <pre class="highlight"><code><%= @demo.parse %></code></pre>
  <% end %>

  <%= simple_form_for(Paste.new) do |form| %>
    <%= form.input :language %>
    <%= form.input :source, as: :text %>

    <%= form.submit %>
  <% end %>
</section>
<section class="key-features">
  <ul>
    <li class="languages">
      <h3>Plenty of Languages</h3>
      <article>
        <p>Rouge supports <%= lexer_count %> languages and counting, including Ruby, JavaScript, Swift, Go, C++, and Haskell. Our <%= link_to 'contributors', 'https://github.com/jneen/rouge/graphs/contributors', target: '_blank' %> are adding more languages all the time.</p>
      </article>
    </li>
    <li class="parsing">
      <h3>Language Parsing</h3>
      <article>
        <p>Rouge aims for the highest quality lexing in all its supported languages, even with strange features and odd corner cases. Try it above and see for yourself!</p>
      </article>
    </li>
    <li class="pygments">
      <h3>Pygments Compatible</h3>
      <article>
        <p>Rouge themes are 100% compatible with <%= link_to 'Pygments', 'http://pygments.org', target: '_blank' %>' stylesheets. No need to remake your theme, and no need to spawn a Python process either. Rouge is made in Ruby.</p>
      </article>
    </li>
  </ul>
</section>
